#hovertime
	position absolute
	text-align center
	background-color #2D2D2D
	color #D3D0C8
	padding 0.25em 0.6em
	opacity 0.001
	transform scaleY(0)
	transition opacity 0.25s, -webkit-transform 0.25s step-end

	&.shown
		opacity 1
		transform scaleY(1)
		transition opacity 0.25s

	.nib
		position absolute
		top 100%
		left 50%
		border solid transparent
		border-top-color #2D2D2D
		border-width 5px
		margin-left -5px
