body
	margin 0
	svg
		display block
		margin auto
		fill #ccc

#backing
	position absolute
	height 100%
	width 100%

@require 'bottomBar'
@require 'playButton'
@require 'seekBar'
@require 'hoverTime'
