@require 'mixins'

body
	margin 0
	svg
		display block
		margin auto
		fill #ccc
		filter drop-shadow(0 1px 0 #000)

.button
	flex-shrink 0
	height 100%
	&:hover
		filter drop-shadow(0 0 8px #CCC)

#backing
	position absolute
	height 100%
	width 100%

@require 'bottomBar'
@require 'seekBar'
@require 'hoverTime'
@require 'playButton'
@require 'volumeWidget'
@require 'fullscreenButton'
