display( style )
	if style == flex
		display -webkit-flex
	display style

flex-shrink( )
	-webkit-flex-shrink arguments
	flex-shrink arguments

flex-direction( )
	-webkit-flex-direction arguments
	flex-direction arguments

justify-content( )
	-webkit-justify-content arguments
	justify-content arguments

align-items( )
	-webkit-align-items arguments
	align-items arguments

align-self( )
	-webkit-align-self arguments
	align-self arguments

filter( )
	-webkit-filter arguments
	filter arguments

animation( )
	-webkit-animation arguments
	animation arguments

transform( )
	-webkit-transform arguments
	transform arguments
