flex-shrink( )
	-webkit-flex-shrink arguments
	flex-shrink arguments

flex-direction( )
	-webkit-flex-direction arguments
	flex-direction arguments

filter( )
	-webkit-filter arguments
	filter arguments

animation( )
	-webkit-animation arguments
	animation arguments

display( style )
	if style == 'flex'
		display -webkit-flex
	display style

transform( )
	-webkit-transform arguments
	transform arguments
