#playbutton
	height 100%
	width 60px
	float left

	&.playing
		background-image url('assets/pause.svg')
		background-repeat no-repeat
		background-size contain
		background-position center

	&.paused
		background-image url('assets/play.svg')
		background-repeat no-repeat
		background-size contain
		background-position center
