@require 'mixins'

#volumewidget
	flex-shrink 0
	display flex
	flex-direction row
	height 100%
	width 30px
	overflow-x hidden
	transition width 0.25s

	&:hover
		width 136px

	&.noaudio
		width 0

	#volumebutton
		width 30px
		#volumemute
			opacity 0

		&.muted
			#volumemute
				opacity 1
			#volumelow
				opacity 0
			#volumehigh
				opacity 0

		&.low
			#volumehigh
				opacity 0

	#volumesliderwrapper
		display flex
		flex-shrink 0
		width 100px
		height 100%
		padding-right 6px

		#volumeslider
			width 100%
			height 6px
			border-radius 1px
			background-color #CCC
			margin auto

			#currentvolume
				width 50%
				height 100%
				background-color red
				transition width 0.15s
