doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		style
			include:stylus styles/main.styl
	body
		#backing
			#hovertime
				span.text
				.nib
			.bottombar-wrap
				#bottombar
					#playbutton.playing
					.spacing
				#seekbar-pad
					#seekbar
						#elapsed
		script
			include:coffee-script scripts/globals.coffee
			include:coffee-script scripts/playButton.coffee
			include:coffee-script scripts/seekBar.coffee
			include:coffee-script scripts/hoverTime.coffee
