body
	margin 0

.bottombar-wrap
	position fixed
	display -webkit-flex
	-webkit-flex-direction column-reverse
	width 100%
	height 80px
	bottom 0
	-webkit-transform translateY(32px)
	transition height 0.25s, -webkit-transform 0.25s

	&:hover
		height 60px
		-webkit-transform translateY(0px)

.bottombar
	background-color rgba(0,0,0,0.75)
	display -webkit-flex
	-webkit-flex-direction row
	width 100%
	height 27px

	.playbutton
		height 100%
		width 60px
		float left

		&.playing
			background-image url('assets/pause.svg')
			background-repeat no-repeat
			background-size contain
			background-position center

		&.paused
			background-image url('assets/play.svg')
			background-repeat no-repeat
			background-size contain
			background-position center

.seekbar
	background #9E79FC
	width 100%
	height 8px
	transition height 0.25s
