doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		style
			include:stylus styles/main.styl
	body
		#backing
			#hovertime
				span.text
				.nib
			.bottombar-wrap
				#bottombar
					#playbutton.playing
				#seekbar
					#elapsed
		script
			include:coffee-script scripts/playButton.coffee
			include:coffee-script scripts/seekBar.coffee
