doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		style
			include:stylus main.styl
	body
		.bottombar-wrap
			.bottombar
				.playbutton.playing
			.seekbar
		script
			include:coffee-script main.coffee
