doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		style
			include:stylus styles/main.styl
	body
		#about
			#slug
				.blurb VPM
				svg.appIcon(viewBox='0 0 128 128', version='1.1', xmlns='http://www.w3.org/2000/svg')
					path(fill='rgb(77,77,77)', d='M114.52,42.68C111.76,36.12,107.8,30.28,102.76,25.24C97.72,20.2,91.88,16.24,85.32,13.48C78.56,10.64,71.4,9.2,64,9.2C56.6,9.2,49.44,10.64,42.68,13.48C36.12,16.24,30.28,20.2,25.24,25.24C20.2,30.28,16.24,36.12,13.48,42.68C10.64,49.44,9.2,56.6,9.2,64C9.2,71.4,10.64,78.56,13.48,85.32C16.24,91.88,20.2,97.72,25.24,102.76C30.28,107.8,36.12,111.76,42.68,114.52C49.44,117.36,56.6,118.8,64,118.8C71.4,118.8,78.56,117.36,85.32,114.52C91.88,111.76,97.72,107.8,102.76,102.76C107.8,97.72,111.76,91.88,114.52,85.32C117.36,78.56,118.8,71.4,118.8,64C118.8,56.6,117.36,49.44,114.52,42.68')
					path(fill='rgb(255,255,255)', d='M113.5,64C113.5,91.34,91.34,113.5,64,113.5C36.66,113.5,14.5,91.34,14.5,64C14.5,36.66,36.66,14.5,64,14.5C91.34,14.5,113.5,36.66,113.5,64')
					path(fill='rgb(121,211,148)', d='M64,64L89,107.28L89,107.28C103.96,98.64,114,82.48,114,64C114,45.52,103.96,29.36,89,20.72L89,20.72')
					path(fill='rgb(127,114,219)', d='M64,64L89,20.72L89,20.68C74.04,12.08,55.04,11.44,39,20.72C23,29.96,14,46.72,14,64L14,64')
					path(fill='rgb(206,118,118)', d='M64,64L14,64L14,64C14,81.28,23,98.04,39,107.28C55.04,116.56,74.04,115.92,89,107.32L89,107.28')
					path(fill='rgb(255,255,255)', d='M100.96,57.72L50.96,28.84C49.84,28.2,48.6,27.88,47.32,27.88C46.08,27.88,44.84,28.2,43.72,28.84C41.48,30.16,40.08,32.56,40.08,35.12L40.08,92.88C40.08,95.44,41.48,97.84,43.72,99.16C44.84,99.8,46.08,100.12,47.32,100.12C48.6,100.12,49.84,99.8,50.96,99.16L100.96,70.28C103.2,69,104.6,66.6,104.6,64C104.6,61.4,103.2,59,100.96,57.72M47.32,35.12L69.2,47.76L61.92,60.4L47.32,60.4M47.32,92.84L47.32,67.56L61.92,67.56L69.2,80.2M75.44,76.64L68.16,64L75.44,51.36L97.32,64')
					path(fill='rgb(159,226,173)', d='M75.44,51.36L68.16,64L75.44,76.64L82.76,64')
					path(fill='rgb(224,153,153)', d='M69.2,80.2L61.92,67.56L47.32,67.56L54.64,80.2')
					path(fill='rgb(151,151,242)', d='M61.92,60.4L69.2,47.76L54.56,47.76L47.32,60.4')
				.blurb DROP FILE TO PLAY
		#backing
			.bottombar-wrap
				#bottombar
					#hovertime
						span.text
						.nib
					#playbutton.button
						svg.play(viewBox='0 0 27 27', version='1.1', xmlns='http://www.w3.org/2000/svg')
							path(d='M8,6L8,21L21,13.5')
						svg.pause(viewBox='0 0 27 27', version='1.1', xmlns='http://www.w3.org/2000/svg')
							path(d='M8,7L8,20L12,20L12,7M15,7L15,20L19,20L19,7')
					#volumewidget.noaudio
						#volumebutton.button.high
							svg.volume(viewBox='0 0 27 27', version='1.1', xmlns='http://www.w3.org/2000/svg')
								path(d='M5,11L9,11L14,7L14,21L9,17L5,17')
								path#volumemute(d='M22,12L21,11L19,13L17,11L16,12L18,14L16,16L17,17L19,15L21,17L22,16L20,14')
								path#volumelow(d='M16,11L17,10C17,10,18.5,12,18.5,14C18.5,16,17,18,17,18L16,17C16,17,17,16,17,14C17,12,16,11,16,11')
								path#volumehigh(d='M18.75,9L19.75,8C19.75,8,22,10.5,22,14C22,17.5,19.75,20,19.75,20L18.75,19C18.75,19,20.5,17.5,20.5,14C20.5,10.5,18.75,9,18.75,9')
						#volumesliderwrapper
							#volumeslider
								#currentvolume
					#playbacktime
						span#timeElapsed 0:00:00
						| /
						span#timeTotal 0:00:00
					.spacing
					#fullscreenbutton.button
						svg.fullscreen(viewBox='0 0 27 27', version='1.1', xmlns='http://www.w3.org/2000/svg')
							path(d='M4,6L4,11L6,11L6,8L10,8L10,6M23,6L23,11L21,11L21,8L17,8L17,6M23,21L23,16L21,16L21,19L17,19L17,21M4,21L4,16L6,16L6,19L10,19L10,21')
						svg.window(viewBox='0 0 27 27', version='1.1', xmlns='http://www.w3.org/2000/svg')
							path(d='M10,11L10,6L8,6L8,9L4,9L4,11M17,11L17,6L19,6L19,9L23,9L23,11M17,16L17,21L19,21L19,18L23,18L23,16M10,16L10,21L8,21L8,18L4,18L4,16')
				#seekbar-pad
					#seekbar
						#elapsed
		script
			include:coffee-script scripts/globals.coffee
			include:coffee-script scripts/playButton.coffee
			include:coffee-script scripts/volumeWidget.coffee
			include:coffee-script scripts/fullscreenButton.coffee
			include:coffee-script scripts/seekBar.coffee
			include:coffee-script scripts/hoverTime.coffee
			include:coffee-script scripts/playTime.coffee
			include:coffee-script scripts/about.coffee
